{:paths ["src" "resources"]
 :deps {com.platypub.themes/default {:git/url "https://github.com/jacobobryant/platypub"
                                     :git/sha "c24d2f82585bd9a285417e98e8ffa997815529aa"
                                     :deps/root "themes/default"}}}
