{:paths ["src" "resources"]
 :deps {com.platypub.themes/default {:git/url "https://github.com/jacobobryant/platypub"
                                     :git/sha "7471df80b90529c63b709ff2c06d4730815f0706"
                                     :deps/root "themes/default"}}}
